{% extends 'layout.html' %}


{% block content %}
<div class="form-container">
  <div class="inner-container">
    <h1>Register new user</h1>
    <form method='POST' action="{{url_for('users_bp.register_user')}}">
      {{form.csrf_token}}
  
      <p>{{form.username.label}}</p>
      {{form.username(size=25)}}

      <p>{{form.email.label}}</p>
      {{form.email(size=25)}}

      <p>{{form.password.label}}</p>
      {{form.password}}
      
      <p>{{form.password_confirmation.label}}</p>
      {{form.password_confirmation}}

      <p>{{form.role.label}}</p>
      {{form.role}}

      <div class="admin">
        <p>{{form.admin.label}}</p>
        <div class="checkbox">
        {{form.admin}}
        </div>
      </div>
      
      {{form.submit}}
    </form>
  </div>

</div>

{% endblock %}
