* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.inner-container {
  height: 70%;
  margin-bottom: 150px;
}
.form-title {
  display: flex;
  justify-content: center;
}
.inner-container > form >button {
  width: 40%;
}
.form-submit {
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  height: 100%;
}

.flashes {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flashes > span {
  font-weight: bold;
  color: #4BB543 
}